.operation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	height: 60px;
	width: 700px;
	box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: #a0a0a01d;
	}

	&-icon {
		display: inline-block;
		min-width: 60px;
		height: 60px;
		background-color: #dadada;
		border-radius: 50%;
		margin-right: 10px;
	}

	&-icon::before {
		content: '';
		cursor: pointer;
		font-size: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	&-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&-label {
		font-size: 1.2em;
		font-weight: semi-bold;
	}

	&-date {
		font-size: 1em;
		color: #a0a0a0;
	}

	&-amount {
		font-size: 1.5em;
		height: 100%;
		display: flex;
		align-items: center;
		margin-left: 20px;
	}

	&-popup {
		display: none;
		position: absolute;
		z-index: 2;
		background-color: white;
		border-radius: 15px;
		padding: 10px 10px;
		box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	&-dropdown {
		list-style: none;
		padding: 0;
		margin: 0;
		overflow: auto;
		height: 70vh;
	}

	&-dropdown li {
		padding: 10px 15px;
		border-radius: 50px;
		cursor: pointer;
		overflow: hidden;
	}

	&-dropdown li:hover {
		background-color: black;
		color: white;
	}
}

.negative {
	color: #f9472f;
}

.positive {
	color: #61cb7d;
}

.separator {
	font-size: 2em;
	padding: 10px 0;
	z-index: 2;
}

@media screen and (max-width: 1000px) {
	.operation {
		width: 500px;
	}
}

@media screen and (max-width: 750px) {
}
